.header {
    background-color: #0197F6;
    grid-area: header;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.loginCl {
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    border-radius: 9999px;
    background-color: rgba(255, 255, 255, .3);
    padding: 7px 15px;
    margin-right: 20px;
    border: none;
    cursor: pointer;
}

.loginCl:hover {
    background-color: rgba(255, 255, 255, .5);
}

.loginCl:active {
    background-color: rgba(150, 150, 150, 0.2);
}

.loginName {
    margin-right: 20px;
    font-weight: bold;
    font-size: 18px;
}

.icon {
    width: 50px;
    margin: 5px;
    margin-left: 15px;
}

.colors {
    display: flex;
    font-weight: bold;
}

.colors li {
    margin-right: 10px;
}

.colors li:nth-child(1) {
    color: #FFFFFF;
}

.colors li:nth-child(2) {
    color: #FB6376;
}

.colors li:nth-child(3) {
    color: #F2DDDD;
}

.colors li:nth-child(4) {
    color: blue;
}

.colors li:nth-child(5) {
    color: #000000;
}