.navbar {
    background-color: #FB6376;
    grid-area: navbar;
}

.navbar div {
    margin: 15px;
    font-size: 20px;
}

.item, .active {
    font-weight: bold;
}

.item{
    color: #fff;
}

.active{
    color: #000000;
}