.form {
    width: 200px;
    margin: 20px;
    display: flex;
    flex-direction: column;
}

.form input {
    margin-bottom: 3px;
}

.button {
    background-color: rgba(251, 101, 118, .5);
    border-radius: 9999px;
    text-align: center;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.button:hover {
    background-color: rgba(251, 101, 118, .8);
}

.commonError {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    border: 1px #FB6376 solid;
    padding: 5px;
    background-color: rgba(251, 99, 118, .2);
    border-radius: 5px;
}

.errorImg {
    width: 20px;
    margin-right: 5px;
}

.check {
    display: flex;
    align-items: center;
}

.check span {
    margin-left: -180px;
}

.testAcc {
    padding: 20px;
}

.testAcc li {
    margin-left: 10px;
}