* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

.app-wrapper {
  background-color: #f2dddd;
  display: grid;
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-template-areas: 
  'header header'
  'navbar main';
  height: 100vh;
}

.app-wrapper-content {
  grid-area: main;
  background-color: #f2dddd;
}