.dialogs {
    display: grid;
    grid-template-columns: 3fr 8fr;
    padding: 15px;
    font-size: 20px;
}

.dialog {
    margin-bottom: 15px;
}

.dialog a{
    color: #000;
}

.active a{
    color: #fff;
}

.messages {
    border-left: 1px solid #000;
    padding-left: 25px;
}

.message {
    margin-bottom: 8px;
}