.dialogs {
    display: grid;
    grid-template-columns: 2fr 8fr;
    padding: 15px;
    font-size: 20px;
}

.dialogsItems {
    border-right: 1px solid #000;
}

.messages {
    padding-left: 10px;
    background-color: rgba(1, 151, 246, .2);
    margin-left: 20px;
}