.dialogs {
    display: grid;
    grid-template-columns: 2fr 8fr;
    padding: 15px;
    font-size: 20px;
}

.dialogsItems {
    border-right: 1px solid #000;
}

.messages {
    padding-left: 10px;
    margin-left: 20px;
}

.messagesText {
    background-color: rgba(1, 151, 246, .2);
    padding: 10px;
    margin-bottom: 10px;
}

.button {
    background-color: rgba(251, 101, 118, .5);
    border-radius: 9999px;
    text-align: center;
    border: none;
    padding: 10px;
    cursor: pointer;
}